.gplus-feed-block-container {
  font-family: "arial narrow";
}
.gplus-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-top: 1px solid #888888;
}
.gplus-item-icon {
  float: left;
  margin-right: 10px;
}
.gplus-item-title {
  margin-top: 2px;
}
.gplus-item-updated {
  float: left;
  margin-right: 10px;
}
.gplus-item-content {
  clear: both;
}
.gplus-item-attachment-photo {
  margin-top: 5px;
  text-align: center;
}
.gplus-item-attachment-photo img {
  width: 360px;
  border: 1px solid #a0a0a0;
}
.gplus-item-attachment-video {
  margin-top: 5px;
  text-align: center;
}
.gplus-item-attachment-video object {
  width: 360px;
  height: 200px;
}
.gplus-item-social-plusone {
  float: left;
}
